@import url(https://unpkg.com/bootstrap@4.1.0/dist/css/bootstrap.min.css);

.App {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  align-items: center;
}

.navBar{
  align-items: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.btn-success {
  color: white;
  font-weight: bold;
  background-color: #42A5FF;
  border-color:  #42A5FF;
  
}

.btn-warning{
  color: white;
  font-weight: bold;
  background-color: #e57373;
  border-color:  #e57373;
}

.inputText{
    /* background-image: url('searchicon.png'); */
    box-sizing: border-box;

}

.checkbox {
  margin-left: 5px;
}

.form {
  text-align: center;
  /* background-color: #6DDDD0; */
  width: 500px;
  border: 5px solid #42A5FF;
  padding: 50px;
  margin:auto;
  margin-bottom: 50px;

}
/* .map-styles{
  display: flex;
 
 
 }
 .main{
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
 } */
.map {
  /* flex-grow: 1; */
  display: flex;
  /* flex-direction: column; */
  height: 75vh;
  width:100vh;
  top: 0;
  position: relative;
  justify-content: center;
  
}